html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    //outline: 1px solid white;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    position: relative;
    font-family: $body-font-family;
    background-color: $primary-bg-color;
}

a {
    font-family: $body-font-family;
    text-decoration: none;
}


ul {
    list-style-type: none;
    text-decoration: none;
}

li {
    list-style-type: none;
    text-decoration: none;
}

.wrapper {
    max-width: 75rem;
    margin: 0 auto;
    width: 90%;
}

.spacer {
    height: 10vh;
}
/* Scroll Up */
.scroll-up {
    position: fixed;
    right: 1%;
    bottom: 3%;
    cursor: pointer;
    background-color: $primary-shadow;

    .up-arrow {
        width: 3rem;
        height: 3rem;

        @include xs-mobile-breakpoint {
            width: 1.5rem;
            height: 1.5rem;
        }

        @include mobile-breakpoint {
            width: 2rem;
            height: 2rem;
        }
    }
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    /* added line */
}
