//Primary Colors

$primary-bg-color: #000000;
$primary-font-color: #FFE4E1;
$primary-shadow:#5F5F5F;
$icon-card-color: #4a484b;
/*#d4d4d4;*/


// Secondary
$secondary-bg-color-1: #202020;
$secondary-bg-color-2: #1c1b1d; //#4a484b;
$secondary-font-color: #F5F5F5;
$secondary-shadow: #E7C2BB;

// Fonts
$body-font-family: 'Open Sans', sans-serif;
$header-font-family: 'Gravitas', cursive;
$weight-normal: 400;
$weight-bold: 700;
$line-height: 1.7rem;

$button-color: #FFE4E1;
$link-color: #FFE4E1;
$border-color: #FFE4E1;

// Miscellaneous
$bottom-margin: 0.5rem;
$bottom-margin-2: 1rem;
$transition: 0.3s;


// Breakpoints 
$bp-xs-mobile: 374px;
$bp-sm-mobile: 375px;
$bp-lg-mobile: 767px;
$bp-tablet-start: 768px;
$bp-tablet-end: 1199px;
$bp-desktop: 1200px;
