//Primary Colors

$primary-bg-color: #000000;
$primary-font-color: #FFE4E1;
$primary-shadow: #d4d4d4;


// Secondary
$secondary-bg-color: #202020;
$secondary-font-color: #F5F5F5;
$secondary-shadow: #E7C2BB;

// Fonts
$body-font-family: 'Open Sans', sans-serif;
$header-font-family: 'Gravitas', cursive;
$weight-normal: 400;
$weight-bold: 700;
