.more-about {
    padding: 3rem;
    margin: 3rem auto;

    @include xs-mobile-breakpoint {
        padding: 2rem;
    }

    @include mobile-breakpoint {
        padding: 3rem 2rem;
    }

    .more-about-header {
       padding: 1.25rem;
       margin: auto;
       margin-bottom: 1rem;
       max-width: 90%;

       .more-about-title {
           padding: 1.25rem;

           span {
            margin-bottom: $bottom-margin;
            text-align: left;
            font-size: 2em;
           }
           
       }
    }

    &-container {
        max-width: 90%;
        margin: auto;

        .more-about-text {
            font-size: 1.2em;
            line-height: $line-height;
            padding: 0.4rem;
        }
    }
    
}