.more-about {
    height: 100%;
    padding: 2rem;
    margin: 3rem auto;
    

    @include xs-mobile-breakpoint {
        padding: 2rem;
    }

    @include mobile-breakpoint {
        padding: 3rem 2rem;
    }
    .more-about-header {
        padding: 1.25rem;
        margin: auto;
        margin-bottom: 1rem;
        
        .more-about-title {
            padding: 1.25rem;

            span {
                margin-bottom: $bottom-margin;
                text-align: left;
                font-size: 2em;
            }

        }
    }
   

    .my-info-container {
        
        padding: 1.25rem;
        box-shadow: 0 .3rem 1rem $primary-shadow;
        border-radius: .625rem;

        .my-info-text {
            font-size: 1.2em;
            line-height: $line-height;
            padding: 1.25rem;
            margin: 1.25rem;

            @include xs-mobile-breakpoint {
                font-size: 1em;
            }
        }
    }
}