.more-about {
    padding: 3rem 6rem;
    margin: 3rem auto;
    max-width: 68rem;

    @include xs-mobile-breakpoint {
        padding: 2rem;
    }

    @include mobile-breakpoint {
        padding: 3rem 2rem;
    }

    .more-about-header {
       padding: 2rem 0;
       margin-bottom: 1rem;

       .more-about-title {
           margin-bottom: $bottom-margin;
           text-align: center;
           font-size: 2em;
       }
    }
    .more-about-text {
        font-size: 1.2em;
        line-height: $line-height;
        padding: 0.4rem;
    }
}