.contact {
    max-width: 90%;
    padding: 3rem;
    margin: 3rem auto;
    background-color: $secondary-bg-color-2;

    .contact-header {
        //@include flex (column, center, center);
        max-width: 90%;
        padding: 2rem 0;
        margin: 2rem auto;
        margin-bottom: 1rem;

        @include xs-mobile-breakpoint {
            max-width: 100%;
        }
        
        .contact-title {
            margin-bottom: $bottom-margin;
            text-align: left;
            font-size: 2em;
            @include xs-mobile-breakpoint {
                max-width: 100%;
            }
            
        }

        .contact-text {
            max-width: 80%;
            text-align: left;
            padding: 1rem;
            margin: auto;
            font-size: 1.5em;
            line-height: 26px;
        }
    }
    .contact-container {
        max-width: 90%;
        margin: 2rem auto;


        h3 {
          font-size: 1.5rem; 
          text-align: center; 
          padding: 2rem;
        }

        .contact-form-container {
            background-color: $primary-bg-color;
            max-width: 40.75rem;
            margin: 0 auto;
            padding: 0.938rem;
            border-radius: .5rem;
            box-shadow: 0 .3rem 1rem $primary-shadow;

            .contact-form {
               padding: 0 2rem;
                label {
                    line-height: 2.7em;
                    font-weight: $weight-bold;
                }

                textarea {
                    min-height: 6.25rem;
                    font-size: 1em;
                }

                .input-field {
                    width: 100%;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    border-radius: .5rem;
                    border: none;
                    border: .2rem outset $primary-bg-color;
                    font-size: 1em;
                    outline: none;
                }

                .input-field::placeholder {
                    padding: 0.5rem;
                    color: $primary-bg-color;
                }
            
            }
            
        }
    }
}





