.hero {
    @include flex (column, center, center);
    gap: 2.5rem;
    max-width: 100%;
    background-image: url(/assets/images/bg_new_wave_.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 2rem 0;

    &-container {
        @include flex (row, space-between, center);
        max-width: 65rem;

        @include mobile-breakpoint {
            flex-direction: column;
            max-width: 22rem;
        }

        @include tablet-breakpoint {
            max-width: 40rem;
        }

        .hero-img {
            height: 40%;
            width: 40%;
            margin: 2rem;
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        }

        .intro {
            margin: auto;
            width: 25rem;
            padding: 1rem;
            border-radius: .6rem;

            @include mobile-breakpoint {
                width: 15rem;
            }

            .hero-header {
                
                .intro-title {
                    font-size: 2.5em;
                    line-height: 3rem;
                    padding: 1rem 0;

                    @include mobile-breakpoint {
                        font-size: 2em;
                    }

                }
            
                .greeting,
                .intro-title,
                .intro-text {
                    color: $secondary-font-color;
                }

                .intro-title span,
                .intro-text span {
                    color: $primary-font-color;
                }

            }

        }

    }

    
}