
.navbar {
    width: 100%;
    position: sticky;
    background-color: $secondary-bg-color-1;
    top: 0;
    left: 0;
    z-index: 1;
    @include flex (row, space-between, center);
    padding: 1.5rem 3.5rem;

    @include mobile-breakpoint {
        padding: 1.5rem 1rem;
    }

    @include xs-mobile-breakpoint {
        padding: 1rem;
    }

    .brand {
        color: $primary-font-color;
        font-size: 2.5em;
    }


    .navbar-collapse {
        width: 90%;
        height: 3.5rem;
        @include flex (row, space-between, center);

        @include xs-mobile-breakpoint {
            flex-direction: column;
            position: fixed;
            justify-content: flex-start;
            background-color: $primary-bg-color;
            top: 7.5rem;
            left: 0%;
            width: 100%;
            height: 85%;
            text-align: center;
            transform: translateX(120%);
            transition: transform 0.5s ease-in;
        }

        @include mobile-breakpoint {
            flex-direction: column;
            position: fixed;
            justify-content: flex-start;
            background-color: $primary-bg-color;
            top: 120px;
            left: 0%;
            width: 100%;
            height: 85%;
            text-align: center;
            transform: translateX(120%);
            transition: transform 0.5s ease-in;
        }

        @media screen and (min-width: $bp-tablet-start) and (max-width: 1023px){
            flex-direction: column;
            position: fixed;
            justify-content: flex-start;
            background-color: $primary-bg-color;
            top: 120px;
            left: 0%;
            width: 100%;
            height: 85%;
            text-align: center;
            transform: translateX(120%);
            transition: transform 0.5s ease-in;
        }

        .nav-items {
            width: 100%;
            @include flex (row, center, center);

            @include xs-mobile-breakpoint {
                flex-direction: column;
                justify-content: space-around;
                height: 70%;
            }

            @include mobile-breakpoint {
                flex-direction: column;
                justify-content: space-around;
                height: 85%;
            }

            @media screen and (min-width: $bp-tablet-start) and (max-width: 1023px) {
                flex-direction: column;
                justify-content: space-around;
                height: 85%;
            }


            .nav-link {
                color: $link-color;
                font-size: 1.125em;
                font-weight: $weight-bold;
                padding: 1rem 0;

                @include xs-mobile-breakpoint {
                    padding: 0;
                    margin: 1.2rem  0;
                }

                @include mobile-breakpoint {
                    font-size: 1.5em;
                }

                @media screen and (min-width: $bp-tablet-start) and (max-width: 1023px) {
                    font-size: 1.5em;   
                }

                @media screen and (min-width: 1024px) {
                    padding: 1rem;
                }
            }
        }

        .nav-social-icons {
            width: 100%;
            @include flex (row, center, center);

            @media screen and (min-width: 1024px) {
                width: 50%;
            }

            .social-icon {
                font-size: 2rem;
                color: $primary-font-color;
                padding: 1rem;

                @include xs-mobile-breakpoint {
                    font-size: 1.5rem;
                }
            }
        }


    }
    .show {
        transform: translateX(0);
    }

    .burger-menu {
        color: $link-color;
        background-color: transparent;
        font-size: 2rem;
        border: 0;
        cursor: pointer;
        display: none;
        

        @media screen and (max-width: 1023px) {
            display: block;
            cursor: pointer;
        }

        .close-icon {
            display: none;
            cursor: pointer;
        }
    }
}



