.projects {
    
    &-container {

        .project-card {
            @include flex (column, center, center);

            @media screen and (min-width: $bp-tablet-end) {
                flex-direction: row;
            }
            .project-image-container {
                @include flex (column, center, center);

                @include desktop-breakpoint {
                    width: calc(50% - 50px);
                }
                
                .project-pic {
                    width: 100%;
                    height: auto;
                    display: block;
                    padding: 2rem;
                }
            }

            .project-work-container {
                @include flex (column, center, flex-start);
                margin: 0 auto;
            }
        }
        

    }
    
}
   