.skills {
    padding: 2rem;

   &-header {
       padding: 1.25rem;

       .skills-title {
           padding: 1.25rem;
           span {
                margin: 5% auto;
                font-size: 2em;
            }
       }

       
   }

   
}
    