.skills {
   width: 100%;
   
   &-header {
       max-width: 80%;
       margin: auto;

       .skills-title {
            margin-bottom: $bottom-margin;
            text-align: left;
            font-size: 2em;
       }
   }

   &-container {
       max-width: 80%;
       margin: 1.25rem auto;
   }
}
    