/* font-family: 'Bangers',
cursive;
font-family: 'Open Sans',
sans-serif;*/

 @import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Open+Sans:wght@400;700&display=swap');

 /* Variables */
 :root {
     --body-font-family: 'Open Sans', sans-serif;
     --weight-normal: 400;
     --weight-bold: 700;
     --primary-bg-color: #000000;
     --secondary-bg-color: #202020;
     --primary-color: #FFE4E1;
     --secondary-color: #F5F5F5;
     --primary-shadow: #d4d4d4;
     --secondary-shadow: #E7C2BB;
     --bg-icon-card: #696969;
     --bg-projects: #454545;
     --bottom-margin: 0.5rem;
     --bottom-margin-2: 1rem;
     --line-height: 1.7rem;
     --transition: 0.3s;
 }

 /* CSS Resets */

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     outline: 1px solid white;
 }

 html {
     font-size: 100%;
 }

 ul {
     list-style-type: none;
 }

 a {
     text-decoration: none;
     color: var(--primary-color);
 }

 a:hover {
     color: var(--secondary-color);
 }

 h1,
 h2,
 h3,
 h4,
 h5 {
     font-family: "Gravitas One", cursive;
     color: var(--primary-color);
 }



 p,
 li {
     color: var(--secondary-color);
 }

 body {
     font-family: var(--body-font-family);
     background-color: black;
 }

 .wrapper {
     width: 100%;
     height: 100%;
 }

 /* Nav*/
 nav {
     position: sticky;
     top: 0;
     left: 0;
     z-index: 1;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 1.5rem 3.5rem;
     background-color: var(--primary-bg-color);
     box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.1);
 }

 nav a {
     transition: var(--transition);
     font-size: 1.2rem;
 }

 nav a:hover {
     border-bottom: 2px solid var(--secondary-color);
 }

 nav ul {
     display: flex;
     gap: 1.9rem;
 }

 nav ul li {
     font-weight: var(--weight-bold);
     margin: .8rem;
 }

 .hamburger-menu {
     color: var(--primary-color);
     font-size: 2rem;
     border: 0;
     background-color: transparent;
     cursor: pointer;
     display: none;
 }

 /* Hero */

 .hero {
     display: flex;
     align-items: center;
     justify-content: space-around;
     gap: 1.5rem;
     height: 100%;
     max-width: 100%;
     background-image: url(/assets/images/bg_new_wave_.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: top center;
     

 }

 .hero img {
     height: 30%;
     width: 30%;
     margin: 2rem;
     border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
 }

 .bio {
     max-width: 40rem;
     padding: 1rem;
     border-radius: .6rem;
     /*box-shadow: 0 .2rem 1.5rem .2rem var(--secondary-color);*/
 }

 .bio h2 {
     margin-bottom: var(--bottom-marg1in);
     padding: 2rem;
     font-size: 1.75em;
 }

 .bio p {
     line-height: var(--line-height);
     font-size: 2em;
     line-height: 2rem;
     padding: 2rem;
     text-align: left;
 }

 .more-about {
     max-width: 80rem;
     margin: 4rem auto;
     background-color: transparent;
     padding: 2rem;
 }

 .more-about h2 {
     margin-bottom: var(--bottom-margin);
     padding: 2rem;
     text-align: center;
     font-size: 1.75em;
 }

 .more-about p {
     line-height: 2.5rem;
     font-size: 1.5em;
     padding: 1rem;
 }

 /* Skills */
 .skills {
     max-width: 100%;
     margin: auto;
     text-align: center;
     margin-top: 2.5rem;
 }

 .skill-header {
     margin-bottom: 1rem;
     padding: 2rem;
     font-size: 1.75em;
 }

 .skills-header {
    margin-bottom: 1rem;
    padding: 2rem;
 }

 .skills-wrapper {
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin-top: 2rem;
 }

 .skills-wrapper img {
     padding: 1.25rem;
 }

 .skills-icons {
     padding: 3rem;
 }
 .icon {
     width: 11.875rem;
     width: 11.25rem;
 }

 .icon-card {
     background-color: var(--bg-icon-card);
     border-radius: 1.1rem;
     box-shadow: 0 .3rem 1rem var(--secondary-shadow);
     padding: 2rem;
     margin: 1rem;
 }

 .credentials-wrapper {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
 }
 .credentials-header {
     margin-bottom: 2rem;
     padding: 2rem;
 }

 .credentials-list {
     margin-top: 1rem;
     padding: 2rem;
     text-align: left;
 }

.credential-item{
    padding: 1rem;
    font-size: 1.5em;
    border-bottom: 1px solid var(--primary-shadow);
}

/* Projects Sections */
.projects {
    background-color: var(--bg-projects);
    padding: 3.2rem 0;
    margin-top: 2rem;
}

.project-pic {
    width: 65%;
    height: 60%;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.projects-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
    padding: 2rem;
    font-size: 1.75em;
}

.project-container {
    text-align: center;
    width: 33;
    height: 33%;
    margin: 0 2rem;
}



.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 1rem;
}

/* Media Queries for responsiveness */ 
 @media screen and (max-width: 768px) {
    nav {
        padding: 1.5rem 1rem;
    }
    
    nav h1 {
        font-weight: var(--weight-bold);
        width: 100%;
    }

    nav ul {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 8.6rem;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        margin: .8rem;
    }

    .hamburger-menu {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
    }
    
    .hero {
        flex-direction: column;
    }

    .hero img {
        height: 35%;
        width: 35%;
    }

    .skills-wrapper {
        flex-direction: column;
    }

    .projects-row {
        flex-direction: column;
    }

    .project-container {
        
    }



    
 }